/* CSS for LabRedesXBlock */

/* Personalizacion vista*/

.desplazamiento {
  height: 50px;
  text-align: center;
}
*, ::after, ::before {
  box-sizing: border-box;
}
/* div {
  display: block;
} */
.contenedor {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* @media (min-width: 1200px)
.contenedor {
    max-width: 1140px;
}

@media (min-width: 992px)
.contenedor {
    max-width: 960px;
}
@media (min-width: 768px)
.contenedor {
    max-width: 720px;
}
@media (min-width: 576px)
.contenedor {
    max-width: 540px;
} */
.linea {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.columna-sm-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
/* @media (min-width: 576px)
.columna-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
} */
.tarjeta {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.texto-centrar {
  text-align: center!important;
}
.tarjeta-encabezado {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.bg-encabezado {
  background-color: rgba(43, 100, 71, 0.8);
}
.tarjeta-encabezado:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.navegacion {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navegacion-solapa {
  border-bottom: 1px solid #dee2e6;
}
.tarjeta-encabezado-solapa {
  margin-right: -.625rem;
  margin-bottom: -.75rem;
  margin-left: -.625rem;
  border-bottom: 0;
}
.navegacion-solapa .navegacion-item {
  margin-bottom: -1px;
}
a {
  color:  white;
  text-decoration: none;
  background-color: transparent;
}
.navegacion-link {
  display: block;
  padding: .5rem 1rem;
}
.navegacion-solapa .navegacion-link {
  border: 2px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
.navegacion-solapa .navegacion-item.show .navegacion-link, .navegacion-solapa .navegacion-link.activo {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
b, strong {
  font-weight: bolder;
}
.tarjeta-cuerpo {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, input {
  overflow: visible;
}
input[type="file"].ocultar {
  visibility: hidden;
  width: 15rem;
  margin-left: -15rem;
}
.columna-sm-6 {
  position: relative;
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
}
/* @media (min-width: 576px)
.columna-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
} */
.insercion-grupo {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 80%;
  height: 39px;
}
.insercion-grupo-append, .insercion-grupo-anteponer {
  display: -ms-flexbox;
  display: flex;
}
.insercion-grupo-anteponer {
  margin-right: -1px;
  height: 25px;
}
.insercion-grupo-texto {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
.insercion-grupo>.insercion-grupo-anteponer>.insercion-grupo-texto {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
button, select {
  text-transform: none;
}
select {
  word-wrap: normal;
}
.personalizar-seleccionar {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0rem 1.75rem 0rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    no-repeat right 0.75rem center/8px 10px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.personalizar-control-etiqueta::before, .personalizar-mostrar-etiqueta, .personalizar-seleccionar {
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.insercion-grupo>.personalizar-mostrar, .insercion-grupo>.personalizar-seleccionar, .insercion-grupo>.form-control, .insercion-grupo>.form-control-plaintext {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.insercion-grupo>.personalizar-seleccionar:not(:first-child), .insercion-grupo>.form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 25px;
}
.ace_editor {
  border: 1px solid lightgray;
  margin: auto;
  height: 200px;
  width: 80%;
}
textarea {
  box-sizing: border-box;
  width: 100%;
}
.btn-vo {
  background-color: #2b6447 !important;
  color: white !important;
  cursor: pointer;
}
.btn-vo:hover {
  background-color: #6c9a06 !important;
  color: white !important;
}
.btn-va {
  background-color: #6c9a06 !important;
  color: white !important;
  cursor: pointer;
}
.btn-va:hover {
  background-color: #2b6447 !important;
  color: white !important;
}
.btn-voo {
  background-color: rgba(43, 100, 71, 0.8);
}
.logo-max {
  color:white;
  float: right;
  cursor: pointer;
}
/* .logo-delete {
  color: #2b6447;
  cursor: pointer;
} */
/* .logo-edit {
  color: #6c9a06;
  cursor: pointer;
} */



